.blockBoard, .emptyBoard {
    /* background-color: greenyellow; */
    width: auto;
    height: auto;
    justify-content: center;
    margin: auto;
}

.emptyblock, .nonblock {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    border: 2px solid #000;
}

.block {
    /* display: none; */
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 7px;
    text-align: center;
    /* visibility: visible; */
}

.submit, .restart, .start {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    font-size: 16px;
    visibility: visible;
}

.rowBlock {
    display: block;
    /* visibility: hidden; */
    /* background-color: brown; */
}

.text {
    margin: 10px;
}