body {
    text-align: center; 
}

.index {
    margin: 30px auto 150px auto; 
    width: 100vw;
    height: 100%;
    max-width: 1000px;
    min-width: 450px;
    display: inline-block;
}

.nonblock {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 7px;
    cursor: pointer;
    box-shadow: 2px 3px 6px rgba(46, 46, 46, 0.16), 2px 3px 6px rgba(56, 56, 56, 0.23);
}

.block {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 7px;
    cursor: pointer;
    box-shadow: 2px 3px 6px rgba(46, 46, 46, 0.16), 2px 3px 6px rgba(56, 56, 56, 0.23);
}

.submit, .restart, .start {
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 50px;
    font-size: 16px;
    visibility: visible;
    cursor: pointer;
    border: 0.5px solid rgba(0,0,0,0.15);
    background-color: aliceblue;
    box-shadow: 4px 5px 5px rgba(0,0,0,0.22), -4px 5px 5px rgba(0,0,0,0.22);
}

.explain {
    margin-top: 20px;
    font-size: 16px;
    visibility: visible;
}

.rowBlock {
    display: block;
}

.text {
    height: 30px;
}

.explain > table {
    visibility: visible;
    border-collapse: collapse;
    border: 2px solid #000;
}

.explainBox {
    min-width: 400px;
    display: none;
}
.nonExplainBox {
    min-width: 400px;
    display: block;
}

p {
    cursor: pointer;
}
